/* Cosmetics styles */
body {
	margin: 0.5em;
	background: lightgrey;
}

.cards {
	display: flex;
	flex-wrap: wrap;

}

/* multiple cards  */
.card {
	flex: 1 0 20%;
	position: relative;
	margin: 0.5em;
	padding: 2em;
	min-height: 4em;
	background-image: url("https://images.pexels.com/photos/713149/pexels-photo-713149.jpeg?auto=compress&cs=tinysrgb&w=600");
	border: 3px solid grey;
}

.card2 {
	flex: 1 0 20%;
	position: relative;
	margin: 0.5em;
	padding: 2em;
	min-height: 4em;
	background-image: url("https://images.pexels.com/photos/4570686/pexels-photo-4570686.jpeg?auto=compress&cs=tinysrgb&w=600");
	border: 3px solid grey;
}

.card3 {
	flex: 1 0 20%;
	position: relative;
	margin: 0.5em;
	padding: 2em;
	min-height: 4em;
	background-image: url("https://images.pexels.com/photos/2409681/pexels-photo-2409681.jpeg?auto=compress&cs=tinysrgb&w=600");

	border: 3px solid grey;
}

.card4 {
	flex: 1 0 20%;
	position: relative;
	margin: 0.5em;
	padding: 2em;
	min-height: 4em;
	border: 3px solid grey;
	background-image: url("https://images.pexels.com/photos/321464/pexels-photo-321464.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.card5 {
	flex: 1 0 20%;
	position: relative;
	margin: 0.5em;
	padding: 2em;
	min-height: 4em;
	border: 3px solid grey;
	background-image: url("https://images.pexels.com/photos/260409/pexels-photo-260409.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.card6 {
	flex: 1 0 20%;
	position: relative;
	margin: 0.5em;
	padding: 2em;
	min-height: 4em;
	border: 3px solid grey;
	background-image: url("https://images.pexels.com/photos/633409/pexels-photo-633409.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.card7 {
	flex: 1 0 20%;
	position: relative;
	margin: 0.5em;
	padding: 2em;
	min-height: 4em;
	border: 3px solid grey;
	background-image: url("https://images.pexels.com/photos/2130161/pexels-photo-2130161.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.card8 {
	flex: 1 0 20%;
	position: relative;
	margin: 0.5em;
	padding: 2em;
	min-height: 4em;
	border: 3px solid grey;
	background-image: url("https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNwYWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.card9 {
	flex: 1 0 20%;
	position: relative;
	margin: 0.5em;
	padding: 2em;
	min-height: 4em;
	border: 3px solid grey;
	background-image: url("https://images.pexels.com/photos/3314294/pexels-photo-3314294.jpeg?auto=compress&cs=tinysrgb&w=600");
}


.h3 {
	color: white;
	margin-top: 10%;
	margin-bottom: 20%;
	font-size: xx-large;
}

.h2 {
	color: red;
    align-self: center;
    text-align-last: center;
    font-size: xxx-large;
}


.active {
	border-color: orangered;
}

/* This is where the magic happens */
input[type="checkbox"] {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

@media (pointer: coarse) {
	input[type="checkbox"] {
		height: 2em;
		width: 2em;
	}
}

/* Use z-index to make it accessible to keyboard navigation */
@media (hover: hover) {
	input[type="checkbox"] {
		z-index: -1;
	}

	.card:hover input[type="checkbox"],
	input[type="checkbox"]:focus,
	input[type="checkbox"]:checked {
		z-index: auto;
	}

	.card2:hover input[type="checkbox"],
	input[type="checkbox"]:focus,
	input[type="checkbox"]:checked {
		z-index: auto;
	}

	.card3:hover input[type="checkbox"],
	input[type="checkbox"]:focus,
	input[type="checkbox"]:checked {
		z-index: auto;
	}

	.card4:hover input[type="checkbox"],
	input[type="checkbox"]:focus,
	input[type="checkbox"]:checked {
		z-index: auto;
	}

	.card5:hover input[type="checkbox"],
	input[type="checkbox"]:focus,
	input[type="checkbox"]:checked {
		z-index: auto;
	}

	.card6:hover input[type="checkbox"],
	input[type="checkbox"]:focus,
	input[type="checkbox"]:checked {
		z-index: auto;
	}
}



.h1 {
    color: #090909;
    align-self: center;
    text-align-last: center;
    font-size: xxx-large;
}

.main {
    background-color: lightblue;
}
