<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <script src="../static/js/home.js"></script>
    <title>MEGANEWS</title>
  </head>
  <body>
    <ul class="main">
      <h1 class="h1">MEGANEWS</h1>
    </ul>

    <!-- navbar -->
    <nav id="nav">
      <ul>
        <li><a href = "{% url 'catagory' %}">Catagory</a></li>
        <li><a href = "{% url 'blog' %}">Blogs</a></li>
        <li><a href = "{% url 'article' %}">Article</a></li>
        <li><a href = "{% url 'contact' %}">Contact</a></li>
        <svg 
          xmlns="http://www.w3.org/2000/svg"
          width = "5em"
          height = "1.3em"
          viewBox="0 0 448 512"
        >
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
            fill = "lightblue"
            />
        </svg>
      </ul>
    </nav>

    <!-- News scrapping -->
    
  </body>
</html>
