<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEGANEWS Catagory</title>
  </head>
  <body>
    <body>
      <ul class="main">
        <h1 class="h1">MEGANEWS</h1>
      </ul>

      <!-- Catagories selection-->
      <ul class="check-card">
        <li class="check-card-item">
          <input type="checkbox" id="check01" name="check" value="1" />
          <label for="check01" class="radio"></label>
          <div class="check-card-bg"></div>
          <div class="check-card-body">
            <div class="check-card-toggle">
              <span></span>
              <span></span>
            </div>
            <div class="check-card-body-in">
              <h3 class="check-card-title">Daily Cleaning</h3>
              <p class="check-card-description">
                Report on the daily cleaning activity.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </body>
  </body>
</html>
