<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/css/catagory.css" />
    <link rel="stylesheet" href="../static/css/home.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEGANEWS Catagory</title>
  </head>
  <body>
    <ul class="main">
      <h1 class="h1">MEGANEWS</h1>
    </ul>

    <ul class="main">
      <h1 class="h2">Select your catagory</h1>
    </ul>

    <div class="cards">
        <div class="card">
          <input type="checkbox" value="1" />
          <h2 class="h3">Entertainment</h2>
        </div>

        <div class="card2">
          <input type="checkbox" name="checkbox" value="2" />
          <h2 class="h3">Politics</h2>
        </div>

        <div class="card3">
          <input type="checkbox" name="checkbox" value="3" />
          <h2 class="h3">Lifestyle</h2>
        </div>

        <div class="card4">
          <input type="checkbox" name="checkbox" value="4" />
          <h2 class="h3">Money</h2>
        </div>

        <div class="card5">
          <input type="checkbox" name="checkbox" value="5" />
          <h2 class="h3">Sports</h2>
        </div>

        <div class="card6">
          <input type="checkbox" name="checkbox" value="6" />
          <h2 class="h3">Technology</h2>
        </div>

        <div class="card7">
          <input type="checkbox" name="checkbox" value="7" />
          <h2 class="h3">Weather</h2>
        </div>

        <div class="card8">
          <input type="checkbox" name="checkbox" value="8" />
          <h2 class="h3">Space and Astronomy</h2>
        </div>

        <div class="card9">
          <input type="checkbox" name="checkbox" value="9" />
          <h2 class="h3">Social Media</h2>
        </div>
    </div>
  </body>
</html>
