<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <script src="../static/js/home.js"></script>
    <title>MEGANEWS</title>
  </head>
  <body>
    <ul class="main">
      <h1 class="h1">MEGANEWS</h1>
    </ul>

    <!-- navbar -->
    <nav id="nav">
      <ul>
        <li><a href="{% url 'catagory' %}">Catagory</a></li>
        <li><a href="{% url 'blog' %}">Blogs</a></li>
        <li><a href="{% url 'article' %}">Article</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
    </nav>

    <!-- News scrapping -->

    <div class="container">
      <div class="col-6">
        <h3 class="h3">News from Times of india</h3>
        {% for n in toi_news %}
        <h5>- {{n}}</h5>
        <hr />
        {% endfor %}
        <br />
      </div>
    </div>
  </body>
</html>
